
// Color Variables 

$clear-blue: #155799;
$clear-green: #159957;

$white: #fff;
$black: #000;
$grey: #767676;
$dark: #323232;

// Fonts
$font-stack-primary: 'Montserrat', sans-serif;
$font-stack-secondary: sans-serif;

// Layout
$max-width: 1200px;

// Breakpoints
$break-m: 768px;
$break-l: 992px;
