
// Color Variables 
$light-crimson: #4C0001;
$dark-crimson: #1c0000;
$darker-crimson: #140000;
$white: #fff;
$black: #000;
$dark: #323232;

// Fonts
$font-stack-primary: 'Montserrat', sans-serif;
$font-stack-secondary: sans-serif;

// Layout
$max-width: 1000px;

// Breakpoints
$break-m: 768px;
$break-l: 992px;
