.main-header,
.mobile-select {
	@include flexbox();
}

.main-header {
	@include flex-direction(#{column});
	@include pad(1em);
	text-align: center;
	background: $dark;
	border-bottom: 1px solid $black;
}

.mobile-select {
	@include justify-content(#{space-around});
	@include margin(1.4em 0 0);
	li {
		@include pad(.5em 1em);
		@include transition(all .4s ease);
		&:hover {
			background: $dark-purple;
		}
	}
}

.selected { // for API filtering
	@include border-radius(5em);
	background: $dark-purple;
}