.main-header,
.mobile-select {
	@include flexbox();
}

.main-header {
	@include flex-direction(#{column});
	@include pad(1em);
	text-align: center;
	@include transition(opacity 2s ease);
	@media (min-width: $break-m) {
		@include align-items(#{center});
		@include pad(2em 1em);
	}
}

.mobile-select {
	@include flex-wrap(#{wrap});
	@include justify-content(#{space-around});
	@include margin(2em 0 0);
	@media (min-width: $break-m) {
		transform: rotate(7deg);
		width: 50%;
		@include margin(3em 0 0);
	}
	@media (min-width: $break-l) {
		width: 35%;
	}
	li {
		flex: 1 33%;
		@include pad(.3em .7em);
		@include transition(all .4s ease);
		@include border-radius(5em);
		@media (min-width: $break-m) {
			@include margin(.2em);
			flex: 1 27%;
			border: 1px solid $white;
		}
		&:hover {
			/* background: $dark; */
			/* color: $black; */
			transform: translateX(10px) rotate(-7deg);
		}
	}
}

.selected { // for API filtering
	background: $dark;
	box-shadow: 1px 1px 5px 6px $dark;
	border: 1px solid $dark !important;
	opacity: .9;
	transform: scale(1.2) rotate(-7deg);
}

