
.gallery-section,
.gallery-list,
.gallery-list li {
	@include flexbox();
	@include flex-direction(#{column});
	@include justify-content(#{center});
	@include align-items(#{center});
}


.gallery-section {
	@include pad(1em);
}

.gallery-list {
	@include justify-content(#{center});
	@include pad(1em);
	li {
		@include margin(0 0 3em);
		@media (min-width: $break-m) {
			flex: 1 50%;
		}
		@media (min-width: $break-l) {
			flex-basis: 33%;
		}
	}
	img {
		border: 1px solid $dark;
		width: 16em;
		height: 24em;
		border-radius: 1em;
		overflow: auto;
	}
	span {
		@include pad(.5em);
		color: $white;
		/* border-left: 1px solid $white;
		border-bottom: 1px solid $white; */
		box-shadow: -8px 8px 6px -6px $dark;
	}
	@media (min-width: $break-m) {
		@include flex-direction(#{row});
		@include flex-wrap(#{wrap});
	}
}

.info {
	@include margin(3em 1em 1em);
	@include pad(1em);
	background: $dark;
	box-shadow: 1px 1px 5px 6px $dark;
	display: inline-block;
	@media (min-width: $break-m) {
		@include margin(3em);
	}
}