// Els set to display:none for single page function
.main-header,
.mobile-select,
.main,
.main-poke{
	/* display: none; */
	transition: height .5s, width .5s, opacity .5s ease; // for select transition in
}

.hide {   // class to be removed in scripts.js for transiton into layout
	opacity: 0;
	height: .1em; 
	width: .1em;
}

.main,
.gallery-section,
.gallery-list,
.gallery-list li {
	@include flexbox();
	@include flex-direction(#{column});
	@include justify-content(#{center});
	@include align-items(#{center});
}


.gallery-section {
	@include pad(1em);
	max-width: $max-width;
}

.gallery-list {
	@include justify-content(#{center});
	@include pad(1em);
	li {
		@include margin(0 0 3em);
		@media (min-width: $break-m) {
			flex: 1 50%;
		}
		@media (min-width: $break-l) {
			flex-basis: 33%;
		}
	}
	img {
		border: 1px solid $dark;
		width: 16em;
		height: 24em;
		border-radius: 1em;
		overflow: auto;
		@include transition(all .3s cubic-bezier(.39,-0.18,.66,1.29));
		filter: grayscale(1);
		&:hover {
			transform: rotate(2deg);
			box-shadow: 1px 1px 1px 1px $dark;
			filter: grayscale(0);
		}
	}
	span {
		@include pad(.5em);
		color: $white;
		/* border-left: 1px solid $white;
		border-bottom: 1px solid $white; */
		box-shadow: -8px 8px 6px -6px $dark;
	}
	@media (min-width: $break-m) {
		@include flex-direction(#{row});
		@include flex-wrap(#{wrap});
	}
}

.reveal {
	opacity: 1;
}

.wrapper-reveal { // for 

}