*,
*::before,
*::after {
	box-sizing: border-box;
}

body {

	background: #159957;
	background: linear-gradient(to right, #155799, #159957);


	/* background: $darker-crimson; */
	height: 100%;
	width: 100vw;
	@include font-styles($family: $font-stack-primary, $color: $white, $weight: #{normal}, $lh: 1.5);
	/* @include transition(background-color .4s ease); */
	/* animation: bg-animation 20s infinite; */
} 

// Body BG Animation Keyframes
/* @keyframes bg-animation {
 0% {
    background-color: $darker-crimson;
  }
  25% {
  	background-color: $dark-crimson;
  }
  50% {
    background-color: $darker-crimson;
  }
  75% {
  	background-color: $dark-crimson;
  }
  100% {
    background-color: $darker-crimson;
  }
} */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 1.2rem;
}

ul, ol {
	list-style: none;
	padding-left: 0;
}